<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>storyboard_base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>556CB4E91C25EAA80062FF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>556CB4FD1C25EAA80062FF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>556CB5081C25EAA80062FF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
